#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.main {
  /* display: flex;
  flex: 1; */
  border: 2px solid black;
  width: 1000px;
  height: 100%;
  margin-bottom: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.disp {
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
}

.searchingbuttons {
  width: 100%;
}

.search {
  border: 1px solid black;
  width: 800px;
  height: 30px;
  padding: 10px;
  margin: 10px;
}

.yellow {
  width: 100%;
  background-color: yellow;
}

.drawer {
  border: 1px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
}
