#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.main {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.disp {
  border-bottom: 1px solid black;
  width: 80%;
  text-align: center;
  /* background-color: blue; */
}

.searchingbuttons {
  width: 100%;
}

.search {
  border: 1px solid black;
  width: 800px;
  height: 30px;
  padding: 10px;
  margin: 10px;
}
